@import "tailwindcss";

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#modal {
  top: 1rem;
  background: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}

.text-stroke-purple {
  -webkit-text-stroke: 1px purple;
  color: white;
}

/* @layer components {
  .change .line1 {
    @apply translate-y-[10px] -rotate-45;
  }
  .change .line2 {
    @apply opacity-0;
  }
  .change .line3 {
    @apply -translate-y-[10px] rotate-45;
  }
} */
